body{
    background: url("../images/background.png");
}
/*------padded对内间隔---------*/
.m-padded-mini{
    padding: 0.3em !important;
}
.m-padded-ori{
    padding: 1em !important;
}
.m-padded-tb-mini{
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}
.m-padded-tb-tiny{/*smaller*/
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
}
.m-padded-tb-small{
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}
.m-padded-tb-ori{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-medium{/*middle*/
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-large{/*mid*/
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-massive{
    padding-top: 6em !important;
    padding-bottom: 6em !important;
}
.m-padded-tb-message-massive{
    padding-top: 13em !important;
    padding-bottom: 14em !important;
}
.m-padded-lr-small{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.m-padded-lr-responsive{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.m-padded-lr-types-responsive{
    padding-left: 2em !important;
    padding-right: 2em !important;
}

/*------margin对外间隔---------*/
.m-margin-tb-mini{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-b-tiny{
    margin-bottom: 0.5em !important;
}
.m-margin-tb-large{
    margin-top: 3em !important;
    margin-bottom: 3em !important;
}

/*---------text----------*/
    /*----介绍页内容文本格式--*/
.m-text-article{
    font-weight: 400 !important;
    letter-spacing:0.8px !important;
    line-height: 1.8;
}
   /*----框标题格式--*/
.m-text-title-thin{
    font-weight: 600 !important;
    font-size:0.8em !important;
}
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    letter-spacing:1px !important;
}

/*---------opacity----------*/
.m-opacity-tiny{
    opacity:0.6 !important;
}
.m-opacity-small{
    opacity:0.8 !important;
}

/*---------display----------*/
.m-inline-block{
    display: inline-block !important;
}

/*------position---------*/
.bottom_footer {
    position: absolute !important; /*or前面的是absolute就可以用*/
    bottom: 0px !important;
}
   /*---绝对显示右上角导航----*/
.m-top-right{
    position: absolute !important;
    top:0 !important;
    right: 0 !important;
}
    /*---浮动显示右下角工具栏----*/
.m-fixed{
    position: fixed !important;
    z-index: 1;
}
.m-right-bottom{
    bottom:0 !important;
    right:0 !important;
}
/*------container---------*/
.m-container{
    max-width:75em !important;
    margin:auto !important;
}
.m-container-login{
    max-width:30em !important;
    margin:auto !important;
}
.m-container-blog{
    max-width:80em !important;
    margin:auto !important;
}
.m-container-message{
    max-width:50em !important;
    margin:auto !important;
}
/*-------shadow---------*/
.m-shadow-bottom-small{
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.5) !important;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5) !important;
}
.m-shadow-top-small{
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.5) !important;
    box-shadow: 0 -8px 16px rgba(0,0,0,0.5) !important;
}

/*-------color---------*/
.m-black{
    color: #333 !important;
}

/*-------PC端---------*/
.m-pc-hide{
    display: none !important;
}
/*-------手机端---------*/
@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-pc-hide{
        display: block !important;
    }
    .m-padded-lr-responsive{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-padded-lr-types-responsive{
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
}