<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!---传入th:replace，取代原有head元素，即添加了th:href="@{/css/me.css}"等相关引用--->
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-------(若使用th:replace则不再需要添加)--格式混乱，css未找到路径，原因是需thymeleaf引入--th:href="@{/css/me.css}"--------->
    <!-------(若使用th:replace则不再需要添加)--只对静态页面产生影响----------------------------------------------------------->
    <link rel="stylesheet" href="../../static/css/me.css"> <!--(若使用th:replace则不再需要添加)th:href="@{/css/me.css}"-->
</head>

<body>

<!--导航-->
<!---将导航做统一模板，引入th:replace通过参数n区分不同active，此处为博客管理传入0--->
<nav th:replace="admin/_fragments :: menu(0)"class="ui inverted attached segment m-padded-tb-mini m-shadow-bottom-small">
    <div class="ui container">
        <!--导航主菜单-->
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tasks icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="images/myavatar.jpg">
                        why
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <!--------通过Thymeleaf中th:href注销---Controller---/admin/loginOut----->
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
        <!--导航手机端菜单按钮-->
    </div>
    <a href="#" class="ui menu toggle black m-top-right m-pc-hide button">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="teal active item">列表</a>
        </div>
    </div>
</div>

<!--中间-->
<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <!--上面框选项-->
        <form action="#" method="post" class="ui segment form">
            <!--上框多个field-->
            <div class="inline fields">
                <!--标题-->
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <!--分类-->
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1">
                                错误日志
                            </div>
                            <div class="item" data-value="2">
                                开发者手册
                            </div>
                        </div>
                    </div>
                </div>
                <!--推荐-->
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="recommend" id="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <!--搜索-->
                <div class="field">
                    <button class="ui basic violet button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </form>
        <!--下框表-->
        <table class="ui celled table">
            <thead>
            <tr><th></th>
                <th>标题</th>
                <th>类型</th>
                <th>推荐</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr></thead>
            <tbody>
            <tr>
                <td>1</td>
                <td data-label="标题">James</td>
                <td data-label="类型">24</td>
                <td data-label="推荐">Engineer</td>
                <td data-label="更新时间">James</td>
                <td data-label="操作">
                    <a href="#" class="ui mini teal button">编辑</a>
                    <a href="#" class="ui mini red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td data-label="标题">James</td>
                <td data-label="类型">24</td>
                <td data-label="推荐">Engineer</td>
                <td data-label="更新时间">James</td>
                <td data-label="操作">
                    <a href="#" class="ui mini teal button">编辑</a>
                    <a href="#" class="ui mini red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td data-label="标题">James</td>
                <td data-label="类型">24</td>
                <td data-label="推荐">Engineer</td>
                <td data-label="更新时间">James</td>
                <td data-label="操作">
                    <a href="#" class="ui mini teal button">编辑</a>
                    <a href="#" class="ui mini red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td data-label="标题">James</td>
                <td data-label="类型">24</td>
                <td data-label="推荐">Engineer</td>
                <td data-label="更新时间">James</td>
                <td data-label="操作">
                    <a href="#" class="ui mini teal button">编辑</a>
                    <a href="#" class="ui mini red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td data-label="标题">James</td>
                <td data-label="类型">24</td>
                <td data-label="推荐">Engineer</td>
                <td data-label="更新时间">James</td>
                <td data-label="操作">
                    <a href="#" class="ui mini teal button">编辑</a>
                    <a href="#" class="ui mini red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr><th colspan="6">
                    <div class="ui pagination menu">
                        <a class="icon item">上一页</a>
                        <a class="icon item">下一页</a>
                    </div>
                    <a href="#" class="ui right floated blue button">新增</a>
                </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>

<!--底部-->
<!---将底部做统一模板，引入th:replace，每个页面底部完全一致--->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-large m-shadow-top-small">
    <div class="ui center aligned container">
        <!-----上方介绍----->
        <div class="ui inverted divided stackable grid">
            <!-----左边二维码----->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!---引入th:replace后不需加th:src="@{/images/wechat1.jpg}"-->
                        <img src="../static/images/wechat1.jpg" class="ui rounded image" style="width: 130px">
                    </div>
                </div>
            </div>
            <!-----中间最新博客----->
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <!-----中间联系我----->
            <div class="four wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">E-mail：wanghaoyang949@gmail.com</a>
                    <a href="#" class="item">QQ：363057994</a>
                </div>
            </div>
            <!-----右边资料----->
            <div class="six wide column">
                <h4 class="ui inverted header ">WHY</h4>
                <p class="m-text-thin m-text-spaced m-opacity-small">1111111111111</p>
            </div>
        </div>
        <!-----下方所有权----->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 Why. All Rights Reserved. </p>
    </div>
</footer>

<!-----Thymeleaf中特殊注释方式，在Thymeleaf模板下会自动取消注释------->
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
    <script>
        //手机端导航菜单按钮
        $('.menu.toggle').click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        //下拉选择框脚本
        $('.ui.dropdown')
            .dropdown({
                // you can use any ui transition
                on:'hover',
                transition: 'drop'
            });
    </script>



</body>


</html>