<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!---传入th:replace，取代原有head元素，即添加了th:href="@{/css/me.css}"等相关引用--->
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-------(若使用th:replace则不再需要添加)--格式混乱，css未找到路径，原因是需thymeleaf引入--th:href="@{/css/me.css}"--------->
    <link rel="stylesheet" href="../static/css/me.css"> <!--(若使用th:replace则不再需要添加)th:href="@{/css/me.css}"-->
</head>

<body>

<!--导航-->
<!---将导航做统一模板，引入th:replace通过参数n区分不同active，此处为关于我传入5--->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-bottom-small">
    <div class="ui container">
        <!--导航主菜单-->
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">WhyHomePage</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tasks icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="user circle icon"></i> 关于我</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
        <!--导航手机端菜单按钮-->
        </div>
        <a href="#" class="ui menu toggle black m-top-right m-pc-hide button">
            <i class="sidebar icon"></i>
        </a>
</nav>

<!--中间-->
<div class="m-padded-tb-large  animated fadeIn">
    <div class="ui container">
        <div class="ui divided stackable grid ">
            <!----左边图片---->
            <div class="twelve wide column">
                <div class="ui segment">
                    <img src="https://images.unsplash.com/photo-1597098495323-fc5d2ac74f75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"  class="ui rounded image"style="width:100%">
                </div>
            </div>

            <!----右边列表---->
            <div class="four wide column">
                <!----右边总体框---->
                <div class="ui segments">
                    <!----关于我---->
                    <div class="ui secondary segment">
                        <h3 class="ui m-text-title-thin header">关于我</h3>
                    </div>
                    <!----文字介绍---->
                    <div class="ui teal segment">
                        <p>
                            wanghaoyang，这里是打着玩儿呢。
                            wanghaoyang，这里是打着玩儿呢。
                            wanghaoyang，这里是打着玩儿呢。
                            wanghaoyang，这里是打着玩儿呢。
                            wanghaoyang，这里是打着玩儿呢。
                            wanghaoyang，这里是打着玩儿呢。
                        </p>
                    </div>
                    <!----爱好---->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="ui orange basic label m-margin-tb-mini">
                            游戏
                        </a>
                        <a href="#" target="_blank" class="ui orange basic label m-margin-tb-mini">
                            电影
                        </a>
                        <a href="#" target="_blank" class="ui orange basic label m-margin-tb-mini">
                            编程
                        </a>
                        <a href="#" target="_blank" class="ui orange basic label m-margin-tb-mini">
                            健身
                        </a>
                        <a href="#" target="_blank" class="ui orange basic label m-margin-tb-mini">
                            跑步
                        </a>
                        <a href="#" target="_blank" class="ui orange basic label m-margin-tb-mini">
                            旅行
                        </a>
                        <a href="#" target="_blank" class="ui orange basic label m-margin-tb-mini">
                            游戏
                        </a>
                        <a href="#" target="_blank" class="ui orange basic label m-margin-tb-mini">
                            游戏
                        </a>
                    </div>
                    <!----技能---->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="ui green basic label m-margin-tb-mini">
                            Java
                        </a>
                        <a href="#" target="_blank" class="ui green basic label m-margin-tb-mini">
                            C
                        </a>
                        <a href="#" target="_blank" class="ui green basic label m-margin-tb-mini">
                            Python
                        </a>
                        <a href="#" target="_blank" class="ui green basic label m-margin-tb-mini">
                            MySQL
                        </a>
                        <a href="#" target="_blank" class="ui green basic label m-margin-tb-mini">
                            Spring
                        </a>
                        <a href="#" target="_blank" class="ui green basic label m-margin-tb-mini">
                            LOL
                        </a>
                        <a href="#" target="_blank" class="ui green basic label m-margin-tb-mini">
                            XTLBB
                        </a>
                        <a href="#" target="_blank" class="ui green basic label m-margin-tb-mini">
                            Dota
                        </a>
                    </div>
                    <!----联系方式---->
                    <div class="ui segment">
                        <a href="#" class="ui introduction circular icon button" data-title="wanghaoyang949"><i class="github icon"></i> </a>
                        <a href="#" class="ui wechatButton circular icon button"><i class="wechat icon"></i> </a>
                        <a href="#" class="ui qqButton circular icon button" data-title="363057994"><i class="qq icon"></i> </a>
                        <a href="#" class="ui introduction circular icon button" data-title="Elliot Fu"><i class="weibo icon"></i> </a>
                    </div>
                    <!------微信二维码----->
                    <div class="ui wechatQR flowing popup transition hidden">
                        <img src="../static/images/wechat2.jpg" th:src="@{/images/wechat2.jpg}" alt="" class="ui rounded bordered image" style="width:120px">
                    </div>
                    <!------QQ二维码----->
                    <div class="ui qqQR flowing popup transition hidden">
                        <img src="../static/images/qq.JPG" th:src="@{/images/qq.jpg}" alt="" class="ui rounded bordered image" style="width:120px">
                    </div>
                </div>
        </div>
    </div>
</div>
</div>

<!--底部-->
<!---将底部做统一模板，引入th:replace，每个页面底部完全一致--->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-large m-shadow-top-small">
    <div class="ui center aligned container">
        <!-----上方介绍----->
        <div class="ui inverted divided stackable grid">
            <!-----左边二维码----->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!---引入th:replace后不需加th:src="@{/images/wechat1.jpg}"-->
                        <img src="../static/images/wechat1.jpg" class="ui rounded image" style="width: 130px">
                    </div>
                </div>
            </div>
            <!-----中间最新博客----->
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <!-----中间联系我----->
            <div class="four wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">E-mail：wanghaoyang949@gmail.com</a>
                    <a href="#" class="item">QQ：363057994</a>
                </div>
            </div>
            <!-----右边资料----->
            <div class="six wide column">
                <h4 class="ui inverted header ">WHY</h4>
                <p class="m-text-thin m-text-spaced m-opacity-small">1111111111111</p>
            </div>
        </div>
        <!-----下方所有权----->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 Why. All Rights Reserved. </p>
    </div>
</footer>

<!-----Thymeleaf中特殊注释方式，在Thymeleaf模板下会自动取消注释------->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

    <script>
        //导航手机端菜单按钮
        $('.menu.toggle').click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        //联系方式介绍信息浮出展示
        $('.introduction').popup();
        //微信二维码浮出展示
        $('.wechatButton').popup({
            popup:$('.wechatQR'),
            on:'hover',
            position:'bottom center'
        });
        //QQ二维码浮出展示
        $('.qqButton').popup({
            popup:$('.qqQR'),
            on:'hover',
            position:'bottom center'
        });
    </script>

</body>


</html>